@import url('https://fonts.googleapis.com/css2?family=Abel&family=Arima+Madurai&display=swap');

body {
  text-align: center;
  color: #ccdbcc ;
  background-image: url("https://i.postimg.cc/GhdNk0LD/green-gradient-horizontal.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  font-family: 'Arima Madurai', cursive
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepageImg{
  
  height: 100;
}