.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
 background-color: white;
 justify-content: space-between;
}

.title {
  color: white;
  margin-top: 150px;
}

.subtitle {
  color: white;
  margin-top: 20px;
  font-style: italic;
}

body {
  background-image: url(./images/blueAndYellow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Share Tech', sans-serif;
}

.nav {
  color: #fa8070;
  font-weight: bold;
  font-size: 18px;
  
}