@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

.blogHeader {
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

/* ----- POST.JS ----- */
.postContainer {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 75%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
}

.blogTitle {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.blogBody {
    font-size: 17px;
    margin-top: 10px;
}