@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.intro {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}