@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap');

body {
    background-color: #d9eddf;
}

.intro {
    text-align: center;
    margin-top: 20px;
}

#hello, #swe {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}

#hello {
    font-size: 35px;
}

#swe {
    font-size: 50px;
    margin-top: -15px;
}

#introName {
    font-family: 'Birthstone Bounce', cursive;
    font-size: 200px;
    color: #4EA7A6;
    transform: rotate(-10deg);
    margin-top: -35px;
}