.App {
  color: white;
  text-align: center;
  background-color:dimgray;
  min-height: 100vh;
}

.Warhol {
  background-color:#282c34;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.Projects {
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: #282c34;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.Blog {
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: #282c34;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.About {
  border: 10px;
  background-color: #282c34;
  border-radius: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.Header {
  padding-top: 15px;
  background-color: dimgray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
