@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  text-align: center;
}

img {
  width: 400px;
}

.line-chart, .area-chart {
  display: inline-block;
}



h1 {
  font-size: 80px;
  font-family: 'Fredoka One', cursive;
}

ul {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
}

.blog-posts {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.blog-posts h3 {
  text-transform: uppercase;
}

/* .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .pie-chart1 { grid-area: 1 / 1 / 2 / 2; }
  .pie-chart2 { grid-area: 1 / 2 / 2 / 3; } */
