body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}

.blogContainer {
  text-align: center;
  margin: .5rem 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 1rem;
  list-style: none;
  color: blue;
}

.link {
  margin:1rem;
  color: blue
}

.home {
  display: flex;
  flex-direction: column;
  margin:3rem
}

.myPhoto {
  width: 10rem;
  align-self: center;
}

.projectImages {
  width:30rem
}

.projectContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  padding: 1rem
}

.projectInfo {
  margin: 2rem;
}
