img {
  margin-top: 10px;
    border-radius: 50%;
  }

  .naveBar{
    list-style-type: none;
  }
  .myInformation{
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
  .body{
    align-items: center;
  }
  .nave{
    background-color: brown;
    width: 20%;
    height: 100vh;

   
  }
  .liDesign{
    padding-top: 40px;
    font-size: 30px;
    font-style: oblique;
    
  }
  .Main{
    display: flex;
    flex-direction:columns;
  }
  #editBox{
    height: 80px;
    width: 200px;
  }