body {
  background-color: #282c34;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #d1d1d1;
}

nav {
  margin-left: 5vw;
  margin-top: 5vh;
}

nav h2 {
  margin: 0;
}

nav a {
  padding-right: 2vw;
}

.App {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5vh;
  text-align: center;
}

.post-item {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 2vh;
  background-color: #5c5c5c;
  padding: 0.8vh;
}

.project-img {
  width: 50vw;
}